.top {
  &__slider-item {
    display: flex !important;
    justify-content: center;
  }

  &__slider-info {
    max-width: 645px;
  }

  &__slider-title {
    color: $title;
    font: {
      size: 110px;
    }
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 185px;
      height: 1px;
      background: #6d7278;
    }
  }
}