<div class="gallery gallery-page">
    <div class="container-fluid">
        <div class="gallery__buttons">
            <button class="gallery__btn" data-filter=".category-bedroom">Bedroom furniture</button>
            <button class="gallery__btn" data-filter=".category-living">Living room furniture</button>
            <button class="gallery__btn" data-filter=".category-office">Office furniture</button>
            <button class="gallery__btn" data-filter=".category-dining">Dining room futniture</button>
            <button class="gallery__btn" data-filter=".category-chair">Chair</button>
        </div>
        <div class="gallery__inner">
            @@include('./photo/bedroom.html')
            @@include('./photo/living.html')
            @@include('./photo/office.html')
            @@include('./photo/dining.html')
            @@include('./photo/chair.html')
        </div>
    </div>
</div>