<section class="contact">
    <div class="container">
        <h3 class="contact__title">Contact Us</h3>
        <ul class="contact__social">
            <li class="contact__social-item">
                <a href="#" class="contact__social-link">
                    <img class="contact__social-link-img" src="images/facebook.svg" alt="">
                </a>
            </li>
            <li class="contact__social-item">
                <a href="#" class="contact__social-link">
                    <img class="contact__social-link-img" src="images/instagram.svg" alt="">
                </a>
            </li>
            <li class="contact__social-item">
                <a href="#" class="contact__social-link">
                    <img class="contact__social-link-img" src="images/pinterest.svg" alt="">
                </a>
            </li>
            <li class="contact__social-item">
                <a href="#" class="contact__social-link">
                    <img class="contact__social-link-img" src="images/whatsapp.svg" alt="">
                </a>
            </li>
            <li class="contact__social-item">
                <a href="#" class="contact__social-link">
                    <img class="contact__social-link-img" src="images/youtube.svg" alt="">
                </a>
            </li>
        </ul>
        <div class="contact__box">
            <p class="contact__text">Vexillologist vape microdosing freegan pork belly deep v direct trade cray
                single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper
                mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock</p>
            <a href="tel:+14158297934" class="contact__phone">(415) 829-7934</a>
            <div class="contact__str"> 725 Green St
            </div>
            <div class="contact__city">San Francisco, California(CA), 94133</div>
            <a class="info-email" href="mailto:ouremailaddress@email.com">ouremailaddress@email.com</a>
        </div>

    </div>
</section>