<div class="container-fluid">
    <div class="contact-slider">
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/1.avif" type="image/avif">
                <source srcset="images/slider/1.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/1.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/2.avif" type="image/avif">
                <source srcset="images/slider/2.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/2.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/3.avif" type="image/avif">
                <source srcset="images/slider/3.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/3.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/4.avif" type="image/avif">
                <source srcset="images/slider/4.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/4.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/5.avif" type="image/avif">
                <source srcset="images/slider/5.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/5.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/6.avif" type="image/avif">
                <source srcset="images/slider/6.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/6.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/7.avif" type="image/avif">
                <source srcset="images/slider/7.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/7.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/8.avif" type="image/avif">
                <source srcset="images/slider/8.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/8.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/9.avif" type="image/avif">
                <source srcset="images/slider/9.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/9.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/10.avif" type="image/avif">
                <source srcset="images/slider/10.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/10.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/1.avif" type="image/avif">
                <source srcset="images/slider/1.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/1.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/2.avif" type="image/avif">
                <source srcset="images/slider/2.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/2.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/3.avif" type="image/avif">
                <source srcset="images/slider/3.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/3.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/4.avif" type="image/avif">
                <source srcset="images/slider/4.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/4.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/5.avif" type="image/avif">
                <source srcset="images/slider/5.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/5.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/6.avif" type="image/avif">
                <source srcset="images/slider/6.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/6.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/7.avif" type="image/avif">
                <source srcset="images/slider/7.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/7.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/8.avif" type="image/avif">
                <source srcset="images/slider/8.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/8.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/9.avif" type="image/avif">
                <source srcset="images/slider/9.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/9.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/10.avif" type="image/avif">
                <source srcset="images/slider/10.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/10.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/1.avif" type="image/avif">
                <source srcset="images/slider/1.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/1.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/2.avif" type="image/avif">
                <source srcset="images/slider/2.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/2.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/3.avif" type="image/avif">
                <source srcset="images/slider/3.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/3.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/4.avif" type="image/avif">
                <source srcset="images/slider/4.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/4.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/5.avif" type="image/avif">
                <source srcset="images/slider/5.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/5.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/6.avif" type="image/avif">
                <source srcset="images/slider/6.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/6.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/7.avif" type="image/avif">
                <source srcset="images/slider/7.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/7.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/8.avif" type="image/avif">
                <source srcset="images/slider/8.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/8.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/9.avif" type="image/avif">
                <source srcset="images/slider/9.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/9.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <picture>
                <source srcset="images/slider/10.avif" type="image/avif">
                <source srcset="images/slider/10.webp" type="image/webp">
                <img class="contact-slider__img" src="images/slider/10.jpg" alt="">
            </picture>
            <p class="contact-slider__title">Truffaut literally<br> trust</p>
        </a>
    </div>
</div>