.contact {
  &__form {
    padding: 0 360px 101px 660px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__form-input {
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    padding: 6px 17px;
    margin: 0 0 13px 0;
    width: 48%;

    &::placeholder {
      color: #a1a1a1;
      line-height: 27px;

      font {
        family: 'Open Sans', sans-serif;
        size: 16px;
        weight: 400;
      }
    }
  }

  &__form-area {
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 24px;
    min-height: 125px;
    resize: none;
    padding: 14px 17px;
    margin: 0 0 20px 0;

    &::placeholder {
      color: #a1a1a1;
      line-height: 27px;

      font {
        family: 'Open Sans', sans-serif;
        size: 16px;
        weight: 400;
      }
    }
  }

  &__form-btn {
    border: none;
    background-color: $title;
    color: #fffff0;
    font-weight: 600;
    border-radius: 21px;
    padding: 6px 60px;
    cursor: pointer;
  }
}