<div class="gallery__items mix category-dining">
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/1.avif" type="image/avif">
            <source srcset="images/gallery/1.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/1.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/2.avif" type="image/avif">
            <source srcset="images/gallery/2.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/2.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/3.avif" type="image/avif">
            <source srcset="images/gallery/3.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/3.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/4.avif" type="image/avif">
            <source srcset="images/gallery/4.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/4.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/5.avif" type="image/avif">
            <source srcset="images/gallery/5.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/5.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/1.avif" type="image/avif">
            <source srcset="images/gallery/1.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/1.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/2.avif" type="image/avif">
            <source srcset="images/gallery/2.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/2.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/3.avif" type="image/avif">
            <source srcset="images/gallery/3.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/3.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/4.avif" type="image/avif">
            <source srcset="images/gallery/4.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/4.jpg" alt="images">
        </picture>
    </a>
    <a class="gallery__item" href="#">
        <picture>
            <source srcset="images/gallery/5.avif" type="image/avif">
            <source srcset="images/gallery/5.webp" type="image/webp">
            <img class="gallery__item-img" src="images/gallery/5.jpg" alt="images">
        </picture>
    </a>
</div>