.breadcrumps {
  background: rgba(#dfdfdf, .5);
  padding: 13px 14px;

  &__list {
    display: flex;
  }

  &__item::after {
    content: '/';
    margin: 0 0 0 -4px;
    margin: 0 4px 0 0;
  }

  &__item:last-child::after {
    display: none;
  }


  &__link {
    font-size: 14px;
    color: $default;
  }
}