<div class="pagination">
  <a class="pagination__arrow pagination__arrow--disabled" href="#"
    ><img
      class="pagination__arrow-icon"
      src="images/arrow-left.svg"
      alt="arrow-icon"
  /></a>
  <ul class="pagination__list">
    <li class="pagination__list-item">
      <a class="pagination__list-num pagination__list-num--active" href="#"
        >1</a
      >
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num" href="#">2</a>
    </li>
  </ul>
  <a class="pagination__arrow" href="#"
    ><img
      class="pagination__arrow-icon"
      src="images/arrow-right.svg"
      alt="arrow-icon"
  /></a>
</div>
