<div class="blog__item article-popup">
  <div class="article-popup__box">
    <picture>
      <source srcset="images/blog/big-2.avif" type="image/avif" />
      <source srcset="images/blog/big-2.webp" type="image/webp" />
      <img class="blog__item-img" src="images/blog/big-2.jpg" alt="images" />
    </picture>
    <a
      class="blog__item-popup"
      data-fancybox
      href="https://youtu.be/kSUxuo8WvGI"
    >
      <img class="blog__item-play" src="images/play-button.svg" alt="" />
    </a>
  </div>
  <div class="blog__item-info">
    <span class="blog__item-date"> August 12, 2020 </span> |
    <a class="blog__item-author" href="#"> by Lux Morningstar</a> |
    <a class="blog__item-theme" href="#"> Design</a>
  </div>
  <h3 class="blog__item-title">
    Authentic kogi shabby chic
  </h3>
</div>
