<div class="blog__item article-slider">
    <div class="article-slider__box">
      <picture>
        <source srcset="images/blog/big-3.avif" type="image/avif" />
        <source srcset="images/blog/big-3.webp" type="image/webp" />
        <img
          class="article-slider__img"
          src="images/blog/big-3.jpg"
          alt="images"
      /></picture>
      <picture>
        <source srcset="images/blog/big-3.avif" type="image/avif" />
        <source srcset="images/blog/big-3.webp" type="image/webp" />
        <img
          class="article-slider__img"
          src="images/blog/big-3.jpg"
          alt="images"
      /></picture>
      <picture>
        <source srcset="images/blog/big-3.avif" type="image/avif" />
        <source srcset="images/blog/big-3.webp" type="image/webp" />
        <img
          class="article-slider__img"
          src="images/blog/big-3.jpg"
          alt="images"
      /></picture>
    </div>
    <div class="blog__item-info">
      <span class="blog__item-date"> August 18, 2020 </span> |
      <a class="blog__item-author" href="#"> by Ann Summers</a> |
      <a class="blog__item-theme" href="#"> Table Furniture</a>
    </div>
    <h3 class="blog__item-title">
      Semiotics fixie four dollar toast, next level woke
    </h3>
    <p class="blog__item-text">
      Everyday carry actually neutra authentic kogi shabby chic migas
      small batch craft beer. Literally williamsburg tote bag
      farm-to-table mustache ugh deep v irony. Af man bun copper mug
      iPhone enamel pin pug selvage hammock palo santo godard thundercats
      coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin
      edison bulb farm-to-table
    </p>
  </div>